<a href="https://colab.research.google.com/github/softfactories/ai_labs/blob/master/Stock_Prediction_Playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Stock Prices Prediction Using Machine Learning and Deep Learning Techniques (with Python codes)** Credit [AISHWARYA SINGH](https://www.analyticsvidhya.com/blog/2018/10/predicting-stock-price-machine-learningnd-deep-learning-techniques-python/)

In [0]:
#import packages
import pandas as pd
import numpy as np

#to plot within notebook
import matplotlib.pyplot as plt
%matplotlib inline

#setting figure size
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20,10

#for normalizing data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

---

In [5]:
#read the file
df = pd.read_csv('https://bizzdozer.com/ki2019/data/TATA.csv')

#print the head
df.head()

         Date    Open    High  ...   Close  Total Trade Quantity  Turnover (Lacs)
0  2019-01-04  210.60  214.90  ...  213.80             1213181.0          2583.05
1  2019-01-03  214.95  215.35  ...  210.05             2096553.0          4433.50
2  2019-01-02  219.00  220.35  ...  214.60             1081778.0          2340.31
3  2019-01-01  219.95  221.05  ...  219.10              716275.0          1571.63
4  2018-12-31  222.00  223.65  ...  219.40              965858.0          2131.09

[5 rows x 8 columns]

TODO: jeweilgen Algorhytmus aus folgendem BLOG als eine basis Ã¼bernehmen: [WP mit ML handeln (BLOG-Artikel)](https://www.analyticsvidhya.com/blog/2018/10/predicting-stock-price-machine-learningnd-deep-learning-techniques-python/ )